body {
  background-color: LightGrey;
}

.container { width: auto; }

.modal {
  text-align: center;
}

.contentType {
  width: 50%;
}

.post {
  /*border: 1px solid black; */
  border: 10pt solid white;
  background-color: white;
  border-radius: 3pt;
  -moz-border-radius: 3pt;
  -webkit-border-radius: 3pt;
  margin: 5pt;
}

#stream .post {
  margin-left: 0pt;
}

.post img {
  max-width:100%;
	height:auto;
}

.comment_section {
  border-top: thin dotted DarkGrey;
}

.comment_box {
  width: 50%;
  max-width: 75%;
  max-height: 10em;
}

.content_box {
  max-width: 100%;
  max-height: 40em;
}

.comments {
  margin-top: 0.5em;
  border-left: thin solid DarkGrey;
  border-right: thin solid DarkGrey;
  border-bottom: thin solid DarkGrey;
}

.comment {
  border-top: thin solid DarkGrey;
  padding: 0.5em;
}

.comment .author:link {
  color: black;
}

.comment .date {
  padding-left: 0.5em;
  font-size: 8pt;
}

.comment .content {
  padding-top: 2pt;
}

.post .description {
  background-color: WhiteSmoke;
}

.pre-scrollable {
  max-height: 500px;
}

a {
  cursor: pointer;
}

#stream {
  float:left;
  max-width: 100%;
  width: 75%;
}

.affix {
  right: 15px;
  left: 15px;
  margin-top: 0px;
  top: 2.25px;
}

#git_affix {
  margin-top: 6px;
}

#git_stream {
  right: 0;
  float: right;
  text-align: center;
  width: 25%;
  font-size: 0.75em;
  background-color: DarkGrey;
  border-radius: 3pt;
  -moz-border-radius: 3pt;
  -webkit-border-radius: 3pt;
}​
