h1{
  text-align: center;
}

#stream {
  width: 100%;
}

.post {
  /*border: 1px solid black; */
  padding: 0px;
  margin: 0px;
}

.author_post {
  border: 10pt solid white;
  background-color: white;
  border-radius: 3pt;
  -moz-border-radius: 3pt;
  -webkit-border-radius: 3pt;
  margin: 5pt;
}

.author_post form {
  display: inline;
}

.author_post input {
  width: 49%;
}
