<div id="addfriend" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        Add <span id="displayName"></span> as a friend?
      </div>
      <div class="modal-header">
        <form method="POST" action="{% url 'dash:sendfriendrequest' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="author" value=''>
          <input type="hidden" name="displayName" value=''>
          <input type="hidden" name="host" value=''>
          <input type="submit"  class="btn btn-success btn-sm" value="Send">
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function addFriendModal(author, displayName, host) {
    var modal = $("#addfriend");
    modal.find("#displayName").text(displayName);
    modal.find("input[name='author']").val(author);
    modal.find("input[name='displayName']").val(displayName);
    modal.find("input[name='host']").val(host);
    modal.modal("toggle");
  }
</script>
