 {% extends 'base.html' %} {% load staticfiles %} {% block content %}
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="/static/js/js.cookie.js"></script>
<link rel="stylesheet" href="/static/css/author.css" />
<div class="entry" ng-controller='authorCtrl'>

    <!--hardcoded image for now-->
    <div class="jumbotron" id="jumbobody">
        <h2 id="display_name">{{author.displayName}}&nbsp;</h2>
        <img src="/static/images/hqdefault.jpg" alt="img" id="profile_picture">
        <span id="author_id" style="display:none" >{{author.id}}</span>
        <span class="info"> First Name: </span> <span class="info_value">{{ author.firstName }}&nbsp;</span>
        <span class="info"> Last Name: </span> <span class="info_value">{{ author.lastName }}&nbsp;</span>
        <span class="info"> Email: </span> <span class="info_value">{{ author.email }}&nbsp;</span>
        <span class="info"> Host: </span> <span id="author_host" class="info_value">{{ author.host }}&nbsp;</span>
        <span class="info"> URL: </span> <span id="author_url" class="info_value">{{ author.url }}&nbsp;</span>
        <span class="info"> Github: </span> <span class="info_value">{{ author.github }}&nbsp;</span>
        <span class="info"> Bio: </span> <span class="info_value">{{ author.bio }}&nbsp;</span>
        {% if request_user.author.id !=  author.id %}
        <button class="btn btn-primary" ng-click="addFriend()" style="margin: 15px 0% 1% 10%;border-radius: 0;" ng-if="isntInFriends()">Add Friend</button>
        {% endif %}
    </div>
</div>
{% endblock %}