{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>{% block title %}Stream{% endblock %}</title>
                <!-- Core CSS - Include with every page -->
                <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
                {% block extra_head %}{% endblock %}
                </head>
                <body>
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="/dash">Stream</a>
                                <div id="mainmenu" class="navbar-header">
                                        <a class="navbar-brand" href="/dash/friendrequest">Friend Requests</a>
                                        <a class="navbar-brand" href="/dash/following">Friends You are Following</a>
                                        <a class = "navbar-brand" href="/">{{request.user.username}}</a>
                            </div-->
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Friends
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="friends_menu">
                                            <li><a href="/dash/following">Friends</a></li>
                                            <li><a href="/dash/followrequests">Requests</a></li>
                                            <li><a href="/dash/follow">Send Request</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="account_menu">
                                            <li><a href="/dash">My Dash</a></li>
                                            <li><a href="/dash/manager">My Posts</a></li>
                                            <li><a href="/profile">My Profile</a></li>
                                            <li class="divider"></li><li>
                                                <a href="/logout">Logout</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                </ul>
                            </div>
                        </div>
                    </nav>
                <div class = "container">
                {% block content %}
                {% endblock %}
                </div>


                    <!-- Core Scripts - Include with every page -->
                    <script src = "{% static 'js/jquery.min.js' %}"></script>
                    <script src = "{% static 'js/bootstrap.min.js' %}"></script>
                    <script src = "{% static 'js/tether.min.js' %}"></script>
        {% block javascript %}
        {% endblock %}


            </body>
        </html>
