{% extends 'base.html' %}

{% block title %}Dash{% endblock %}

{% block extra_head %}<link href="/static/css/dash.css" rel="stylesheet">{% endblock %}

{% block content %}

<template id="git_template">
  <div class='post git'>
    <p class='title'>test</p>
    <p class='description'><p/>
    <p class='content'><p/>
    By <a href="{{user.author.github}}" class='creator' target="_blank"></a> on <span class='creation_date'></span>
  </div>
</template>

<button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#post_form">New Post</button>

<div id="post_form" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <form method="POST" action="{% url 'dash:newpost' %}">
          {% csrf_token %}
          {{ postForm }}
          <input type='hidden' name='post_id' value={{post.id}}>
          <input type="submit" value='Post' class="btn btn-success btn-sm"/>
        </form>
      </div>
    </div>
  </div>
</div>

<div id='stream'>
{% if latest_post_list %}
  {% for post in latest_post_list %}
      <div class="post">
        <div class="content">
          <h2 class='title'>{{post.title}}</h2>
          <h4>Description: {{post.description}}</h4>
          <div{% if post.contentType == "text/markdown" %} class='markdown'{% endif %}>{{post.content}}</div>
          <p>Created by <a href="{{post.author.url}}">{{post.author}}</a> on {{post.published.date}}</p>
        </div>
        <div class="comment_section">
          <h3>Comments</h3>
          <form method="POST" action="{% url 'dash:newcomment' %}">
            {% csrf_token %}
            {{ commentForm }}
            <input type='hidden' name='post_id' value={{post.id}}>
            <input type="submit" value='Comment' class="btn btn-success btn-sm"/>
          </form>
          {% for comment in post.comment_set.all %}
            <div class="comment">
              <br/>
              <div{% if comment.contentType == "text/markdown" %} class='markdown'{% endif %}>{{comment.comment}}</div>
              Created by {{comment.author}} on {{comment.published.date}}
            </div>
          {% endfor %}
        </div>
      </div>
  {% endfor %}
{% else %}
  <p>No posts available.</p>
{% endif %}
</div>

<div id='git_stream'>
</div>


<script src="/static/js/showdown.min.js"></script>
<script>
var markdownText = document.getElementsByClassName('markdown');
for (var i = 0; i < markdownText.length; ++i) {
  var item = markdownText[i];
  var converter = new showdown.Converter();
  var html = converter.makeHtml(item.innerHTML);
  item.innerHTML = html;
}
</script>

<script src="/static/js/github.js"></script>
<script>sendJSONXMLHTTPRequest(parseGithubURL("{{user.author.github}}"),handleGithubJSON)</script>



{% endblock %}
