{% extends 'base.html' %}

{% block title %}Dash{% endblock %}

{% block extra_head %}
<link href="/static/css/dash.css" rel="stylesheet">
<meta name="csrf-token" content="{% csrf_token %}">{% endblock %}

{% block content %}

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/showdown.min.js"></script>
<script src="/static/js/github.js"></script>
<script src = "/static/js/tether.min.js"></script>

<script>
  function textToImage(contentType, content, replaceId) {
    var image = new Image();
    image.src = "data:" + contentType + "," + content;
    document.getElementById(replaceId).replaceWith(image);
  }
</script>

<template id="git_template">
  <div class='post git'>
    <p class='title'>test</p>
    <p class='description'><p/>
    <p class='content'><p/>
    By <a href="{{user.author.github}}" class='creator' target="_blank"></a> on <span class='creation_date'></span>
  </div>
</template>

<button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#post_form">New Post</button>

<div id="post_form" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <form method="POST" action="{% url 'dash:newpost' %}" enctype="multipart/form-data">
          {% csrf_token %}
          {{ postForm }}
          <input type="submit" value='Post' class="btn btn-success btn-sm"/>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
$(".private").hide();
$('label[for="unlisted"]').hide();
$("#visibility").change(function (){
    if ($(this).val() == 'PRIVATE') {
      $(".private").show();
      $('label[for="unlisted"]').show();
    }
    else {
      $(".private").hide();
      $('label[for="unlisted"]').hide();
    }
});
</script>

{% include "addfriend_modal.html" %}

<script>
  function addFriendModal(author, displayName, host) {
    var modal = $("#addfriend");
    modal.find("#displayName").text(displayName);
    modal.find("input[name='author']").val(author);
    modal.find("input[name='displayName']").val(displayName);
    modal.find("input[name='host']").val(host);
    modal.modal("toggle");
  }
</script>

<div id='stream'>
{% if latest_post_list %}
  {% for post in latest_post_list %}
      {% include "post_template.html" %}
  {% endfor %}
{% else %}
  <p>No posts available.</p>
{% endif %}
</div>

<div id='git_stream'>
  <h4>Github Activity</h4>
  <div id='git_events' class="pre-scrollable">
  </div>
  <button type="button" id='git_button' class="btn btn-default btn-block" onclick="loadPage('{{user.author.github}}')">Load More</button>
</div>

<script>loadPage("{{user.author.github}}")</script>


<script>
  var markdownText = document.getElementsByClassName('text/markdown');
  for (var i = 0; i < markdownText.length; ++i) {
    var item = markdownText[i];
    var converter = new showdown.Converter();
    var html = converter.makeHtml(item.innerHTML);
    item.innerHTML = html;
  }
</script>


{% endblock %}
