{% extends 'base.html' %}
 {% block content %}


<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="/static/js/js.cookie.js"></script>
<link rel="stylesheet" href="/static/css/dash.css" />

<ul  class="nav nav-pills">
		<li class="active ftab"><a  href="#friends" data-toggle="tab">Friends</a></li>
		<li class="ftab"><a href="#followers" data-toggle="tab">Followers</a></li>
</ul>

<div class="tab-content clearfix">
  <div class="tab-pane active friend_area" id="friends">
    {% if Followings|length == 0 %}
      You are not following anyone.
    {% endif %}
    {% for follow in Followings %}
      <div class='friend'>
        <form method='POST' class ="form-inline">
        {% csrf_token %}
         {{ follow }} <button type="submit" name = "unfollow" value="{{follow}}" class="btn btn-primary btn-xs unfollow" >unfollow</button>
        </form>
      </div>
    {% endfor %}
	</div>
	<div class="tab-pane friend_area" id="followers">
    {% if Friends|length == 0 %}
      You have no friends.
    {% endif %}
    {% for follow in Friends %}
      <div class='friend'>
        <form method='POST' class ="form-inline">
        {% csrf_token %}
        <button type="submit" name = "unfriend" value="{{follow}}" class="btn btn-primary btn-xs unfollow" >unfriend</button> {{ follow }}
        </form>
      </div>
    {% endfor %}
	</div>
</div>

{% endblock %}
