{% extends 'base.html' %}

{% block title %}Dash{% endblock %}

{% block extra_head %}<link href="/static/css/dash.css" rel="stylesheet">
<link href="/static/css/manager.css" rel="stylesheet">{% endblock %}

{% block content %}

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/showdown.min.js"></script>
<script src="/static/js/post_page.js"></script>

{% include "postform_modal.html" %}

{% include "addfriend_modal.html" %}

<h1>Your Posts</h1>
<div id='stream'>
{% if latest_post_list %}
  {% for post in latest_post_list %}
    <div class='author_post'>
      {% include "post_template.html" %}
      {% if 'base64' not in post.contentType %}
      <button class="btn btn-default" onclick="editPost('{{post.id}}')">Edit</button>
      {% else %}<span class='image'>
      {% endif %}
      <form method="POST" action="{% url 'dash:deletepost' %}" enctype="multipart/form-data" class="form-inline">
        {% csrf_token %}
        <input type="hidden" name="post" value='{{post.id}}'>
        <input type="submit" class="btn btn-danger" value="Delete" />
      </form>
      {% if 'base64' in post.contentType %}</span>{% endif %}
    </div>
  {% endfor %}
{% else %}
  <p>No posts available.</p>
{% endif %}
</div>

<script>
  var postLinks = document.getElementsByClassName('post_link');
  for (var i = 0; i < postLinks.length; ++i) {
    var link = postLinks[i];
    link.href = link.href.replace("posts","dash/posts");
  }
</script>


{% endblock %}
