{% extends 'base.html' %}

{% block title %}Dash{% endblock %}

{% block extra_head %}<link href="/static/css/dash.css" rel="stylesheet">
<link href="/static/css/manager.css" rel="stylesheet">{% endblock %}

{% block content %}

<script src="/static/js/showdown.min.js"></script>
<script src="/static/js/jquery.min.js"></script>

{% include "addfriend_modal.html" %}

<div id="post_form" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <form method="POST" action="{% url 'dash:newpost' %}" enctype="multipart/form-data">
          {% csrf_token %}
          {{ postForm }}
          <input type="submit" value='Post' class="btn btn-success btn-sm"/>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function textToImage(contentType, content, replaceId) {
    var image = new Image();
    image.src = "data:" + contentType + "," + content;
    document.getElementById(replaceId).replaceWith(image);
  }

  function addFriendModal(author, displayName, host) {
    var modal = $("#addfriend");
    modal.find("#displayName").text(displayName);
    modal.find("input[name='author']").val(author);
    modal.find("input[name='displayName']").val(displayName);
    modal.find("input[name='host']").val(host);
    modal.modal("toggle");
  }

  function sendJSONXMLHTTPRequest(url, callback) {
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function () {
          if (xhr.readyState==4) {
              try {
                  if (xhr.status==200) {
                    var parsed = JSON.parse(xhr.responseText);
                    //var parsed = xhr.responseText;
                    callback(parsed);
                  }
              }
              catch(e) {
                  alert('Error: ' + e.name);
              }
          }
      };
      xhr.open("GET",url);
      //xhr.setRequestHeader("Content-Type","application/json");
      xhr.setRequestHeader("Accept","application/json");
      xhr.send(null);
  }

  function handleForm(post) {
    var form = $("#post_form");
    //$("#id_title").val("hkdfjshfksjd");
    form.find("#id_title").val(post['title']);
    form.find("#id_description").val(post['description']);
    form.find("#id_contentType").val(post['contentType']);
    form.find("#id_content").val(post['content']);
    form.find("#id_categories").val(post['categories'].join());
    form.find("#id_visibility").val(post['visibility']);
    form.find("#id_unlisted").prop('checked', post['unlisted']);
    form.find("#id_visibleTo").val(post['visibleTo'].join());
    form.find("#id_post_id").val(post['id']);
    form.modal();
  }

  function editPost(post_id) {
    url = post_id.replace('/posts/','/dash/posts/')
    sendJSONXMLHTTPRequest(url,handleForm)
  }


  $(".private").hide();
  $('label[for="unlisted"]').hide();
  $("#visibility").change(function (){
      if ($(this).val() == 'PRIVATE') {
        $(".private").show();
        $('label[for="unlisted"]').show();
      }
      else {
        $(".private").hide();
        $('label[for="unlisted"]').hide();
      }
  });

</script>

<h1>Your Posts</h1>
<div id='stream'>
{% if latest_post_list %}
  {% for post in latest_post_list %}
    <div class='author_post'>
      {% include "post_template.html" %}
      {% if 'base64' not in post.contentType %}
      <button class="btn btn-default" onclick="editPost('{{post.id}}')">Edit</button>
      {% else %}<span class='image'>
      {% endif %}
      <form method="POST" action="{% url 'dash:deletepost' %}" enctype="multipart/form-data" class="form-inline">
        {% csrf_token %}
        <input type="hidden" name="post" value='{{post.id}}'>
        <input type="submit" class="btn btn-danger" value="Delete" />
      </form>
      {% if 'base64' in post.contentType %}</span>{% endif %}
    </div>
  {% endfor %}
{% else %}
  <p>No posts available.</p>
{% endif %}
</div>

<script>
  var markdownText = document.getElementsByClassName('text/markdown');
  for (var i = 0; i < markdownText.length; ++i) {
    var item = markdownText[i];
    var converter = new showdown.Converter();
    var html = converter.makeHtml(item.innerHTML);
    item.innerHTML = html;
  }
</script>

<script>
  var postLinks = document.getElementsByClassName('post_link');
  for (var i = 0; i < postLinks.length; ++i) {
    var link = postLinks[i];
    link.href = link.href.replace("posts","dash/posts");
  }
</script>


{% endblock %}
