{% extends 'base.html' %}

{% block title %}Dash{% endblock %}

{% block extra_head %}<link href="/static/css/dash.css" rel="stylesheet">
<link href="/static/css/manager.css" rel="stylesheet">{% endblock %}

{% block content %}

<script src="/static/js/showdown.min.js"></script>
<script src="/static/js/jquery.min.js"></script>

<script>
  function textToImage(contentType, content, replaceId) {
    var image = new Image();
    image.src = "data:" + contentType + "," + content;
    document.getElementById(replaceId).replaceWith(image);
  }
</script>

{% include "addfriend_modal.html" %}

<script>
  function addFriendModal(author, displayName, host) {
    var modal = $("#addfriend");
    modal.find("#displayName").text(displayName);
    modal.find("input[name='author']").val(author);
    modal.find("input[name='displayName']").val(displayName);
    modal.find("input[name='host']").val(host);
    modal.modal("toggle");
  }
</script>


{% include "post_template.html" %}


<script>
  var markdownText = document.getElementsByClassName('text/markdown');
  for (var i = 0; i < markdownText.length; ++i) {
    var item = markdownText[i];
    var converter = new showdown.Converter();
    var html = converter.makeHtml(item.innerHTML);
    item.innerHTML = html;
  }
</script>


{% endblock %}
