<div class="post" id=post_{{post.id|slugify}}>
  <div class="content">
    <a class="post_link" href="{{post.id}}">
      <h2 class='title' id='title_{{post.id|slugify}}'>
        {{post.title}}
      </h2>
    </a>
    <h4 class='description'>{{post.description}}</h4>
    <h4>
    {% for category in post.category_set.all %}
      <span class='category'>{{category.category}}</span>
    {% endfor %}
    </h4>
    {% if 'image' not in post.contentType %}
      <div class='{{post.contentType}}'>{{post.content}}</div>
    {% else %}
      <div id="post_{{post.id|slugify}}">
        <img src="{{post.content}}"/>
        {% if 'base64' not in post.contentType %}
      </div>
    {% endif %}
    <p>Created by
      <a onclick="addFriendModal('{{post.author.url}}','{{post.author.displayName}}','{{post.author.host}}')">{{post.author.displayName}}</a>
      on {{post.published}}</p>
  </div>
  <div class="comment_section">
    {% with post.id|slugify as p_id%}
    <h4 class='title'>
      {{post.comments|length}} comment{% if post.comments|length != 1 %}s{% endif %}
      <span id="btn_{{p_id}}" class="glyphicon glyphicon-edit"></span>
    </h4>
    <form id='form_{{p_id}}' method="POST" action="{% url 'dash:newcomment' %}">
      {% csrf_token %}
      {{ commentForm }}
      <input type='hidden' name='post_id' value={{post.id}}>
      <input type="submit" value='Comment' class="btn btn-success btn-sm"/>
    </form>
    <script>
      $("#form_{{p_id}}").hide();
      $(document).ready(function(){
          $("#btn_{{p_id}}").click(function(){
              $("#form_{{p_id}}").slideToggle();
          });
      });
    </script>
    {% endwith %}
    <div class="comments">
      {% for comment in post.comments %}
        <div class="comment">
          <a href="#" onclick="addFriendModal('{{comment.author.url}}','{{comment.author.displayName}}','{{comment.author.host}}')">{{comment.author.displayName}}</a>
          <span class="date">{{comment.published}}</span>
          <div class='content {{comment.contentType}}'>{{comment.comment}}</div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
