{% extends 'base.html' %}

{% block title %}Dash{% endblock %}

{% block extra_head %}<link href="/static/css/dash.css" rel="stylesheet">{% endblock %}

{% block content %}

<template id="git_template">
  <div class='post git'>
    <h5 class='title'>test</h2>
    <p class='description'><p/>
    <p class='content'><p/>
    <p class='creator'></p>
  </div>
</template>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel-body">
        <form method="POST" action="{% url 'dash:newpost' %}">
          {% csrf_token %}
          <p class="bs-component">
            <tr>
              {% for field in postForm %}
                <td>
                  {{ field }}
                </td>
              {% endfor %}
            </tr>
          </p>
          <p class="bs-component">
            <input type="submit" class="btn btn-success btn-sm"/>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

<div id='stream'>
{% if latest_post_list %}
  {% for post in latest_post_list %}
      <div class="post">
        <div class="content">
          <h2>{{post.title}}</h2>
          <h4>Description: {{post.description}}</h4>
          <p>{{post.content}}</p>
          <p>Created by {{post.author}} on {{post.published.date}}</p>
        </div>
        <div class="comment_section">
          <h3>Comments</h3>
          <form method="POST" action="{% url 'dash:newcomment' %}">
            {% csrf_token %}
            {{ commentForm.as_table }}
            <input type='hidden' name='post_id' value={{post.id}}>
            <input type="submit" class="btn btn-success btn-sm"/>
          </form>
          {% for comment in post.comment_set.all %}
            <div class="comment">
              {{ comment.comment }}<br/>
              Created by {{comment.author}} on {{comment.published.date}}<br/><br/>
            </div>
          {% endfor %}
        </div>
      </div>
  {% endfor %}
{% else %}
  <p>No posts available.</p>
{% endif %}
</div>

<div id='git_stream'>
</div>

<script src="/static/js/github.js"></script>
<script>sendJSONXMLHTTPRequest(parseGithubURL("{{user.author.github}}"),handleGithubJSON)</script>

{% endblock %}
