{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}

<template id="git_template">
  <div class='post git'>
    <h5 class='title'>test</h2>
    <p class='description'><p/>
    <p class='content'><p/>
    <p class='creator'></p>
  </div>
</template>

<form method="POST" action="{% url 'dash:newpost' %}">
  {% csrf_token %}
  {{ postForm.as_table }}
  <input type="submit" class="btn btn-success btn-sm"/>
</form>


<div id='stream'>
{% if latest_post_list %}
  {% for post in latest_post_list %}
      <div class="post">
        <div class="content">
          <h2>{{post.title}}</h2>
          <h4>Description: {{post.description}}</h4>
          <p>{{post.content}}</p>
          <p>Created by {{post.author}} on {{post.published.date}}</p>
        </div>
        <div class="comment_section">
          <h3>Comments</h3>
          <form method="POST" action="{% url 'dash:newcomment' %}">
            {% csrf_token %}
            {{ commentForm.as_table }}
            <input type='hidden' name='post_id' value={{post.id}}>
            <input type="submit" class="btn btn-success btn-sm"/>
          </form>
          {% for comment in post.comment_set.all %}
            <div class="comment">
              {{ comment.comment }}<br/>
              Created by {{comment.author}} on {{comment.published.date}}<br/><br/>
            </div>
          {% endfor %}
        </div>
      </div>
  {% endfor %}
{% else %}
  <p>No posts available.</p>
{% endif %}
</div>

<div id='git_stream'>
</div>


<script>
function sendJSONXMLHTTPRequest(url, callback) {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
        if (xhr.readyState==4) {
            try {
                if (xhr.status==200) {
                  var parsed = JSON.parse(xhr.responseText);
                  //var parsed = xhr.responseText;
                  callback(parsed);
                }
            }
            catch(e) {
                alert('Error: ' + e.name);
            }
        }
    };
    xhr.open("GET",url);
    //xhr.setRequestHeader("Content-Type","application/json");
    xhr.setRequestHeader("Accept","application/json");
    xhr.send(null);
}

sendJSONXMLHTTPRequest('https://api.github.com/users/nshillin/events/public', function (parsedText) {
  var template = document.getElementById("git_template");
  var stream = document.getElementById('git_stream');
  for (var i = parsedText.length-1; i >= 0; i--) {
    var newGit = template.content.cloneNode(true).childNodes[1];
    newGit.getElementsByClassName('title')[0].innerHTML = parsedText[i].repo.name + ': ' + parsedText[i].type
    newGit.getElementsByClassName('creator')[0].innerHTML = 'By ' + parsedText[i].actor.display_login + ' on ' + parsedText[i].created_at
    stream.insertBefore(newGit,stream.childNodes[0]);
  }
})

</script>

{% endblock %}
